<aside class="sidebar">
    <div class="header">
        <span class="title">sidebar</span>
        <span class="status">اخفاء</span>
    </div>
    <ul class="menu">
        <li class="menu-item">
            <a href="/dashbord">الرئيسية</a>
        </li>
        <li class="menu-item">
            <span class="d-flex justify-content-between align-items-center">
                <a>المنتجات</a>
                <i class="fas fa-caret-right icon"></i>
            </span>
            <ul>
                <li><a href="/dashbord/product/create">اضافة منتج</a></li>
                <li><a href="/dashbord/products">عرض المنتجات</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="/dashbord/order">الطلبات</a>
        </li>
        <li class="menu-item">
            <span class="d-flex justify-content-between align-items-center">
                <a>المقالات</a>
                <i class="fas fa-caret-right icon"></i>
            </span>
            <ul>
                <li><a href="/dashbord/blog/create">اضافة مقال</a></li>
                <li><a href="/dashbord/blog">عرض المقالات</a></li>
            </ul>
        </li>
    </ul>
</aside>