<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>خطاء</title>
</head>

<body>
    <%- include('./part/navbar'); %>

        <section>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_hcae8wxn.json"
                            background="transparent" speed="1" loop autoplay>
                        </lottie-player>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 text-center">
                        <h1>حدث خطاء ما نعمل علي اصلاحه</h1>
                        <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذ هذا النص هو مثال لنص يمكن أن يستبدل في نفس</p>
                        <a href="/" class="btn btn-primary">اذهب الي الرئيسية</a>
                    </div>
                </div>
            </div>
        </section>


        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script src="/js/jqoury.min.js"></script>
        <script src="/js/Popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/app.js"></script>
</body>

</html>